<font color=Green>
    
# **3.11 Agrupar datos**

</font>

In [2]:
import numpy as np
import pandas as pd

In [3]:
#En este método se encuentra el argumento header= que establece que fila se utilizará como nombre de las columnas
# en index_col= se fija que columna sería el índice, con names= el nombre de las columnas y parse_dates se fija el tipo de una
# columna como fecha
data = pd.read_csv(r'C:\Users\Emir\Desktop\data_celular.csv',
                   header=0,
                   index_col=0,
                   names=['indice', 'fecha','duracion','item','mes','red','tipo_red'],
                   parse_dates=['fecha'])
data.head()

                     fecha  duracion  item      mes       red tipo_red
indice
0      2014-10-15 06:58:00    34.429  data  2014-11      data     data
1      2014-10-15 06:58:00    13.000  call  2014-11  Vodafone   mobile
2      2014-10-15 14:46:00    23.000  call  2014-11    Meteor   mobile
3      2014-10-15 14:48:00     4.000  call  2014-11     Tesco   mobile
4      2014-10-15 17:27:00     4.000  call  2014-11     Tesco   mobile

### Podemos obtener información básica seleccionando columnas y aplicando alguna de las operaciones que ya conocemos.

In [5]:
print('Cuántas filas tiene el DataFrame: ')
#El método count() es para  contar en este caso filas
print(data['item'].count())

Cuántas filas tiene el DataFrame:
830

In [7]:
print('El tiempo total (en segundos) registrado en llamadas es:')

#Primero realizamos una indexación de las ods columnas y en la item solo aquellas que tengan como valor 'call' y luego se suman
# todo el tiempo de las llamadas realizadas
print(data['duracion'][data['item'] == 'call'].sum())

El tiempo total (en segundos) registrado en llamadas es:
92321.0

In [8]:
print('Con cuántas redes telefónicas se contactó en el período de 2014/11 al 2015/03: ')
#El método nunique() nos cuenta solo los valores únicos y no los repetidos
print(data['red'].nunique())

Con cuántas redes telefónicas se contactó en el período de 2014/11 al 2015/03:
9

## <font color=#003d5c> _.groupby()_ </font>
### Este método nos permite agrupar nuestros datos para obtener información segregada.

In [10]:
#Nos indica el tipo genérico de la columna 'mes'
data.groupby('mes')

In [12]:
#Nos indica los valores que se encuentran dentro del grupo genérico de la columna 'mes'
data.groupby('mes').groups.values()

#Nos indica las llaves que contienen los valores que forman parte del grupo genérico de la columna 'mes'
data.groupby('mes').groups.keys()

dict_keys(['2014-11', '2014-12', '2015-01', '2015-02', '2015-03'])

In [13]:
#Con el método sum() agregado a groupby() nos produce la suma total de todos los valores 
#que conforman cada una de las llaves de la columna genérica 'mes'
data.groupby('mes').sum()

          duracion
mes
2014-11  26639.441
2014-12  14641.870
2015-01  18223.299
2015-02  15522.299
2015-03  22750.441

In [14]:
print('En el siguiente cuadro vemos la cantidad de entradas por mes \n segregadas en llamadas, sms y datos: \n \n')

#En este caso se agrupa la información por las columnas 'mes' e 'item' y cuenta la cantidad de datos en la columna 'duración'
print(data.groupby(['mes','item'])["duracion"].count())

En el siguiente cuadro vemos la cantidad de entradas por mes
 segregadas en llamadas, sms y datos:


mes      item
2014-11  call    107
         data     29
         sms      94
2014-12  call     79
         data     30
         sms      48
2015-01  call     88
         data     31
         sms      86
2015-02  call     67
         data     31
         sms      39
2015-03  call     47
         data     29
         sms      25
Name: duracion, dtype: int64

In [15]:
print('La duración total de las llamadas realizadas a cada una de las operadoras es: ')

#Ahora con el siguiente ejemplo solo se eligen las llamadas de la columna item, luego se agrupan los datos por red y se cuenta
# la duración de las llamadas en cada uno de los grupos
data[data['item'] == 'call'].groupby('red')['duracion'].sum()

La duración total de las llamadas realizadas a cada una de las operadoras es:

red
Meteor        7200.0
Tesco        13828.0
Three        36464.0
Vodafone     14621.0
landline     18433.0
voicemail     1775.0
Name: duracion, dtype: float64

In [16]:
print('¿Cuántas llamadas, sms y datos son enviados a cada operadora por mes? : ')

#Aca se agrupa la información por 'mes' y por 'tipo_red', luego se cuentan las fechas por cada dato
data.groupby(['mes', 'tipo_red'])['fecha'].count()

¿Cuántas llamadas, sms y datos son enviados a cada operadora por mes? :

mes      tipo_red
2014-11  data          29
         landline       5
         mobile       189
         special        1
         voicemail      6
2014-12  data          30
         landline       7
         mobile       108
         voicemail      8
         world          4
2015-01  data          31
         landline      11
         mobile       160
         voicemail      3
2015-02  data          31
         landline       8
         mobile        90
         special        2
         voicemail      6
2015-03  data          29
         landline      11
         mobile        54
         voicemail      4
         world          3
Name: fecha, dtype: int64